{% extends 'base.html' %}
{% block main %}
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>操作界面</h4>
            </div>
            <div class="panel-body">
                <form action="" enctype="multipart/form-data" class="form-horizontal">
                    <div class="form-group">
                        <label for="image" class="control-label col-md-6"><a href="{{ url_for('test') }}"><h3>点击这里去看图文直播  GO</h3></a></label>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}