{% extends 'base.html' %}
{% block yemian %}图文管理界面{% endblock %}
{% block main %}
    <div class="row">
        <form action="" enctype="multipart/form-data" method="POST" class="form-horizontal">
            <table class="table table-hover">
                <tr>
                    <th>序号</th>
                    <th>图片</th>
                    <th>文章</th>
                    <th>提交时间</th>
                    <th>操作</th>
                </tr>
                    {% for item in photo %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td width="15%">
                            <img src="{{ url_for('static', filename = 'image/' + item.picture_path) }}" alt="" height="70" width="100">
                        </td>
                        <td width="50%" height="87">{{ item.content }}</td>
                        <td>{{ item.create_time }}</td>
                        <td>
                            <a href="{{ url_for('detail_a', photo_id = item.id) }}" class="btn btn-default btn-xs" title="查看"><i class="fa fa-search"></i></a>
                            <a href="{{ url_for('change_a', photo_id = item.id) }}" class="btn btn-default btn-xs" title="修改"><i class="fa fa-pencil"></i></a>
                            <a href="{{ url_for('remove', content=item.content) }}" class="btn btn-default btn-xs" title="删除"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
            </table>
        </form>
    </div>
{% endblock %}